<tr>
	<td style="color:#000; vertical-align: middle;" align="middle">1</td>
	<td>
		<input type="text" id="txtsubpropertyname" name="sub_property[]" class="form-control" style="border:none;background:none; width:128px;">
	</td>
	<td>
		<select class="form-control" name="sub_type[]" id="txtsubpropertytype" style="border-radius:0px; width:122px; border:none; ">
			<option> Select </option>
			<option value="Shop"> Shop  </option>
			<option value="Flat">  Flat </option>
			<option value="Floor"> Floor </option>
		</select>
	</td>
	<td>
		<input type="text" id="txtcarpet" name="carpet[]" class="form-control" style="border:none;background:none; width:52%; float:left;">
		<select class="form-control" name="carpet_unit[]" style=" width:48%; border-radius:0px; border:none; border-left:1px solid #eee;">
			<option>Select</option>
			<option value="Sq m">Sq m</option>
			<option value="Sq cm">Sq cm</option>
			<option value="Hectare">Hectare</option>
			<option value="Other">Other</option>
		</select>
	</td>
	<td>
		<input type="text" id="txtbuiltup" name="builtup[]" class="form-control" style="border:none;background:none; width:52%; float:left;">
		<select class="form-control" name="builtup_area[]" style=" width:48%; border-radius:0px; border:none; border-left:1px solid #eee;">
			<option>Select</option>
			<option value="Sq m">Sq m</option>
			<option value="Sq cm">Sq cm</option>
			<option value="Hectare">Hectare</option>
			<option value="Other">Other</option>
		</select>
	</td>
	<td>
		<input type="text" id="txtsellable" name="sellable[]" class="form-control" style="border:none;background:none; width:52%; float:left;">
		<select class="form-control" name="sellable_area[]" style=" width:48%; border-radius:0px; border:none; border-left:1px solid #eee;">
			<option>Select</option>
			<option value="Sq m">Sq m</option>
			<option value="Sq cm">Sq cm</option>
			<option value="Hectare">Hectare</option>
			<option value="Other">Other</option>
		</select>
	</td>
	<td>
		<input type="number" id="txtallocatedcost" name="allocated_cost[]" class="form-control" style="border:none;background:none; width:100px; ">
	</td>
	<td>
		<input type="number" id="txtallocatedmaitenance" name="allocated_maintainance[]" class="form-control" style="border:none;background:none; width:150px;">
	</td>
	<td>
		<input type="number" id="txtallocatedexpenses" name="allocated_expenses[]" class="form-control" style="border:none;background:none; width:130px;">
	</td>
</tr>