.rent-block {
    padding: 5px;
    color: #ffffff!important;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
	/*background-image: linear-gradient(135deg, #5f77df 0%, #7489e3 100%);*/
}
.rent-block .total {
    font-size: 18px!important;
    font-family: "tenantcloud", Avenir, sans-serif!important;
    font-weight: 600!important;

}

.rent-block .category {
    font-family: "Montserrat", "tenantcloud", Avenir, sans-serif;
    font-size: 0.85714rem;
    font-weight: 400;
	color: #ffffff!important;
	 margin: 0px!important;
}
.rent_list
{
	padding-bottom: 10px;
    border-bottom: 2px solid #edf0f5;
}


.btn-link1
{
	padding:0px 12px!important;
	background:transparent!important;
	color:#fff!important;
}
.btn-link1:hover
{
	background:#fff!important;
	color:#626262!important;
}

.view_table tr:nth-child(even) {
   background-color: #fff!important;
}

.modal .modal-header
{
	display: -webkit-inline-box;
}
.view-block h5
{
	font-size: 14px;
    font-weight: 600;
	margin: 0;
}
.view-block .category{
    font-size: 1.28571rem;
    font-weight: 400;

}
.view-block
{
	float:left;
	font-family: "Montserrat", "tenantcloud", Avenir, sans-serif;
	padding-bottom:10px;
}
.icon-svg {
margin-right: 5px;
font-size:24px;
}

 .info-name-property {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 14px;
    font-family: "Montserrat", "tenantcloud", Avenir, sans-serif;
}
.info-location {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
}

.m-filter-panel .filter-footer {
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
    padding: 15px 15px 5px;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.filter-footer  h5
{
	font-size: 14px;
    font-weight: 600;
	margin: 0;
}

.filter-footer .fa
{
	font-size:20px!important;
}

.status-0
{
	font-size: 0.71429rem;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: #da5050;
    min-width: 70px;
	display: inline-table;
	padding-top:10px;
    border-radius: 4px;
	font-family: "proxima-nova", "tenantcloud", Avenir, sans-serif;
	font-weight: 400;
    font-style: normal;
	margin-top:7px;
}
 .balance {
    color: #da5050;
    font-size: 1.28571rem;
    font-weight: 400;
    word-break: break-all;
	   font-family: "Montserrat", "tenantcloud", Avenir, sans-serif;
}
.client-name
{
	font-size: 1.28571rem;
    font-weight: 400;
}
.info-date {
    margin-bottom: 3px;
    color: #7489e3;
    font-size: 0.78571rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.container-xs-height
{
	display: block;
	
}
.close {
 
    font-weight: 200!important;
    text-shadow:none!important;
    color: #da5050!important;
    font-size:40px!important;
  
}
.head-title {
   
    color: #ffffff!important;
    font-size: 16px!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
}
.header-nav
{
	display: inline-flex!important;
	border-bottom: 2px solid #edf0f5;
	padding-bottom: 15px;
}

.modal-edit
{
	color:#41a541!important;
	font-size:20px!important;
}

.odd-cell
{
	background-color:#f6f9fc;
}
.unpaid
{
	padding:0px 9px!important;
	letter-spacing: 0.2em!important;
	text-transform: uppercase!important;
    font-size: 0.71429rem!important;
}
.paid
{
	padding:0px 9px!important;
	letter-spacing: 0.2em!important;
	text-transform: uppercase!important;
    font-size: 0.71429rem!important;
}
#pricing_box a
{
	color:#fff!important;
}
.acc_dtl a
{
	color:#41a541!important;
}
a.dt-button
{
	position: relative!important;
    display: inline-flex!important;
    box-sizing: border-box!important;
    margin-right: 0.333em!important;
    padding: 0!important;
    border: none!important;
	font-size: 15px!important;
    color: #3a933a!important;
}
}
a.dt-button:hover
{
	background:transparent!important;
	color:#d9534f!important;
}
.p-receipts
{
	background:#fff!important;
	font-size:16px;
	font-weight:700;
}

.table tbody tr td 
{
	padding:10px!important;	
}